.env
venv/
/venv
venv*.local
__pycache__
__pycache__/*
.ipynb_checkpoints
.ipynb_checkpoints/*
test.ann
closestsearch.ipynb
dataset_gen.py
locustfile.py
*.ann
*.rest
train_annpy.py
visualisations.py
data/xlr-tuned.pt
data-set
data-set/*